
<div class="container">
<ul class="nav navbar-nav" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" (click)="onSelectedproducts()" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" (click)="onPromo()" role="tab" aria-controls="profile" aria-selected="false">Promotion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" (click)="onDispo()" role="tab" aria-controls="contact" aria-selected="false">Disponibles</a>
  </li>

  
</ul>

<ul class="nav navbar-nav pull-right">

  <li class="nav-item">
    <a class="btn" (click)="onLogout()">
        <span class="glyphicon glyphicon-log-out"></span>
    </a >
      </li>
</ul>

</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<div class="container">
  <div class="col-md-3">
    <router-outlet>
      <ul class="list-group" *ngIf="categories">
        <!--<li [ngClass]="currentCategory==c ?'active':''" class="list-group-item clickable" 
        *ngFor="let c of categories._embedded.categories" (click)="getProductsByCat(c)" >
          {{c.name}}
        </li>-->
        <li class="list-group-item clickable" 
         (click)="getCatOne(c)" >
          Games
        </li>
        <li  class="list-group-item clickable" 
         (click)="getCatTwo(c)" >
          Competure
        </li>
        <li class="list-group-item clickable" 
         (click)="getCatThree(c)" >
          Impriment
        </li>
      </ul>
    </router-outlet>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>